@{
    if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        ViewData["Title"] = "Wybierz gre";
    }
    else
    {
        ViewData["Title"] = "Zaloguj się aby zagrać w gry";
    }
}
<h1>@ViewData["Title"]</h1>
