.chooseEmotion p {
    display: inline-block;
}
.chooseEmotion {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.emotionImg {
    text-align: center;
}
.emotionImg img {
    display: inline-block;
    margin-bottom: 10%;
    width: 30%;
}
@media screen and (max-width: 768px) {
    .chooseEmotion p {
        font-size: 12px;
    }
}