.memory-game, .choose-card {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: 11%;
    margin: 0.5%;
    position: relative;
}
.front-face {
    width: 100%;
    height: 100%;
    padding: 20%;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}

