@{
    ViewData["Title"] = "Dopasuj do obrazka";
}
<head>
    <link rel="stylesheet" href="~/css/matchEmotions.css" />
</head>
<h1>@ViewData["Title"]</h1>
<div class="emotionImg" name="radosc">
    <img src=""/>
</div>
<div class="chooseEmotion"></div>
<script src="~/js/matchEmotions.js" type="module"></script>