@{
    ViewData["Title"] = "Dopasuj ilość";
}
<h1>@ViewData["Title"]</h1>
<head>
    <link rel="stylesheet" href="~/css/matchImgToNumber.css" />
</head>
<div class="imgDiv">
    <img src="" class="randNum" />
</div>
<div class="chooseNumber"></div>
<script src="~/js/matchImgToNumber.js" type="module"/>