@{
    ViewData["Title"] = "Memory";
}
<head>
    <link rel="stylesheet" href="~/css/memory.css" />
</head>
<h1>@ViewData["Title"]</h1>
<section class="memory-game"></section>
<script src="~/js/memory.js" type="module"></script>
