@{
    ViewData["Title"] = "Dopasuj odpowiedni obrazek";
}
<h1>@ViewData["Title"]</h1>
<head>
    <link rel="stylesheet" href="~/css/quiz.css" />
</head>
<div class="toMatch">
    <img src=""/>
</div>
<div class="choose"></div>
<script src="~/js/quiz.js" type="module"></script>
